.features {
    margin: 94px auto;
}

.features-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin: 30px 0px 10px 0px;
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;
    max-width: 270px;
}

.features-icon {
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bcg-color);
    justify-content: center;
    align-items: center;
    display: flex;
}