.team-section {
    background-color: var(--secondary-bcg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-section .container {
    margin-left: auto;
    margin-right: auto;
}

.team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.container-team {
    padding: 30px 0px 24px;
    text-align: center;
}

.team-item {
    margin-top: 30px;
    width: 450px;
    background-color: var(--primary-bcg-color);
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 480px) and (max-width: 1599px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding-bottom: 10px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.social-links {
    display: flex;
    margin: 16px 32px 0px 32px;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--decorating-color);
    width: 44px;
    height: 44px;
    transition: 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: var(--accent-color);
        fill: var(--primary-bcg-color);   
    }
}